*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 background: #F1F1E7;
}

h1{
    margin: 30px;
}

.accordion_wrapper{
    margin: 0 auto;
    width: 80%;
}

input {
    display: none;
}

li{

    list-style: none;
    width: 100%;
    background: red;
    padding: 20px;
    border: 1px solid black;
}

label {
    display: block;
    font-size: 16px;
    cursor: pointer;
}
.content_pic {
    overflow: hidden;
    height: 0;
    transition: 1s;
}

.content_pic>img {
    width: 100%;
    height: 100%;
}

input:checked~.content_pic, 
input:hover~.content_pic {
height: 100%;
}

