*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 background: #F1F1E7;
}

h1{
    margin: 30px 0;
    font-size: 40px;
}

.wrapper{
    margin: 0 auto;
    width: 80%;
}

input {
    display: none;
}

li{
    
    list-style: none;
    width: 100%;
    border-top: 1px solid green;
}

label {
    display: flex;
    color: darkblue;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
}

label span {
    opacity: 0;
    transition: .3s;
}

.content_pic {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: .8s;
}

.content_pic>img {
    width: 30%;
    height: 30%;
    opacity: 1;
}

input:checked~.content_pic, 
input:hover~.content_pic {
    opacity: 1;
    height: 100%;
}

input:checked~label,
input:hover~label {
color: black;
}

input:checked~label>span{
    rotate: 90deg;
    opacity: 1;
}